// color
$primary: #650300;
$secondary: #AA0601;
$brown-100: #B75929;
$brown-400: #5F3E2D;
$dark-100: #212529;
$dark-200: #0A0A0A;
$gray: #00000020;
$gray-200: #DCDCDC;
$gray-300: #DEE2E6;
$gray-400: #F2F2F2;
$gray-500: #707070;
$gray-600: #555555;
$pink: #AA06010D; 


$spacing: 8px;